body{
    max-width: 960px;
    margin: 0 auto;
}

.form-section, .result-data{
    display: flex;
    justify-content: center;
    margin: 2em;
}

.result-data{
    flex-direction: column;
    align-items: center;
}

.inputs{
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

.inputs-submit{
    display:flex;
    justify-content: center;
    margin: 2em;
}

#country{
    width:50%;
}

hr{
    display: none;
}

.sunrise, .sunset{
    margin: 0.5em 0;
}

@media only screen and (max-width: 600px) {
 .inputs{
     flex-direction: column;
 }

 .inputs *{
     width: 100%;
     margin: 1em 0;
 }

 #country{
    width:auto;
 }

 .form-submit{
     width: 100%;
     margin: 0.5em 0;
 }

 .inputs, .inputs-submit{
     margin: 0.2em;
 }
}
