{% extends 'layout.html' %}

{% block body %}
	 <article class="form-section">
        <form method="POST" class="form" action="{{url_for('index')}}">
            {{ form.csrf_token }}
            <div class="inputs">
                {{ form.searchDate }}
                {{ form.country }}
            </div>
            <div class="inputs-submit">
                <button type="submit" class="btn btn-success form-submit">
                Show <i class="far fa-sun"></i>
                </button>
            </div>
        </form>
    </article>

    <hr>

    <article class="result-data">
        <div class="sunrise">
        </div>
        <div class="sunset">
        </div>
    </article>
{% endblock %}

